
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Gupter:wght@400;500;700&family=Jersey+25&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Titan+One&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
table{font-size: 1.25em;}
li{font-size: 1.25em;}

button{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: red;
}

button:hover{
    background-color: darkred;
}

.container{
    max-width: 1400px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*Encabezado - Menú de pag*/

header{
    background-color: rgb(59, 59, 59);
}

header .logo{
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    padding-right: 20px;
    text-shadow: 2px 2px 2px gray;
}


header .color-ya{
    text-shadow: 3px 5px 3px black;
    color: darkred;
    font-weight: 200;
}

header span:hover{
    color: black;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header input{
    display: flex;
    padding: 20px 15px;
    margin-right: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    height: 10px;
    width: 220px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 2px 2px black;
    position: relative;
    transition: all 4s ease;
}

header input:hover{
    background-color: rgb(185, 185, 174);
    color: rgb(29, 29, 29);
    cursor: text;
}

header a{
    padding: 5px 12px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 650;
    color: black;
}


header a:hover{
    font-weight: solid;
    color: darkred;
}

/*Sección título*/

#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 85vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/fondo-plato.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#titulo h1{
    color: white;
    font-weight: lighter;
    font-size: 50px;
    text-shadow: 5px 3px 0 black;
}

#titulo h1{
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}

#titulo .color-ya{
    text-shadow: 3px 5px 3px black;
    color: darkred;
    font-weight: 600;
}

#titulo p{
    color: white;
    font-weight: lighter;
    margin-top: 60px;
    padding: 20px 50px 20px;
    text-shadow: 2px 2px black;
    font-size: 25px;
}

#titulo p{
    animation-name: move-text;
    animation-duration: 4s;
}

@keyframes move-text{
    from{
        margin-top: 20%;
        margin-right: 90%;
        width: 100%;
    }
}

/*Sección publicaciones*/

#publicaciones{
    justify-content: center;
}


#publicaciones .container{
    padding: 30px 20px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    text-align: center;
}

#publicaciones h2{
    font-family: 'Literata', sans-serif;
    font-size: 55px;
    color: white;
    text-shadow: 2px 2px darkred;
    margin: 20px 30px;
    padding: 20px 30px;
    text-transform: uppercase;
}

#publicaciones span{
    color: darkred;
    text-shadow: 2px 1px white;
}

#publicaciones p{
    color: red;
    text-transform: uppercase;
    margin: 10px 10px;
    padding: 15px 20px;
    text-shadow: 0 2px 1px white;
    font-family: 'Literata', sans-serif;
    font-weight: 350;
}

.formulario{
    padding: 20px 40px;
    margin: 20px 40px;
    font-family: 'Literata', sans-serif;
}


form label{
    color: red;
    font-size: 25px;
    font-weight: 200;
    font-style: italic;
}

textarea#plato{
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid gray;
}

textarea#producto{
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid gray;
    width: 240px;
}


textarea:hover{
    cursor: text;
    background-color: rgb(185, 185, 174);
}

#publicaciones button{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px 20px;
    color: black;
}


#publicaciones button{
    background-color: darkred;
    color: black;
    padding: 10px 10px;
    border: 2px solid red;
    border-radius: 30px;
}

#publicaciones button:hover{
    background-color: gray;
    cursor: pointer;
    padding: 10px 7px;
    border: 2px solid whitesmoke;
}

/*Estadisticas*/

#estadisticas{
    background-color: rgb(30, 30, 30);
    text-align: center;
    align-items: center;
    display: block;
    font-family: 'Roboto Slab', sans-serif;
}

#estadisticas .container{
    padding: 25px 15px;
    margin: 0;
}

#estadisticas h3{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px black;
}

#estadisticas p{
    color: gray;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 5px 5px 4px black;
    font-size: 30px;
    font-style: italic;
}

#estadisticas .carta{
    background-position: center center;
    background-size: cover;
    padding: 25px 10px;
    padding-bottom: 15px;
    margin: 20px;
    border-radius: 15px;
    border: solid black;
}

#estadisticas .container button{
    color: black;
    background-color: darkred;
    margin-top: 10px;
    margin-bottom: 10px;
}

#estadisticas .container button:hover{
    background-color: gray;
    cursor: pointer;
    border: 2px solid whitesmoke;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/copas-plantas.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/salon-comedores.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/comedores-bonuar.jpg");
}


/*Beneficios*/

#beneficios{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
     url("img/crecimiento.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#beneficios .container{
    text-align: center;
    padding: 20px 15px;
    margin: 0;
    font-family:'Lora', sans-serif;
}

#beneficios ul li{
    margin: 16px 0px;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px black;
}

#beneficios ul{
    animation-duration: 4s;
    animation-name: list-move;
    animation-iteration-count: 1;
}

@keyframes list-move{
    from{
        margin-right: 100%;
        width: 300%;
    }
    
    
}

footer{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 150px 10px;
}

.redes-sociales a .fa-facebook{
    color: #1877f2;
}

.redes-sociales a .fa-instagram{
    color: #D43089;
}

.redes-sociales a .fa-x-twitter{
    color: rgba(81, 82, 81, 0.849);
}

.redes-sociales a .fa-whatsapp{
    color: #4dc247;
}


.redes-sociales nav a i{
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    float: none;
}

.redes-sociales nav a i:hover.fa-facebook{
    color: #1877f2;
    border-radius: 5px solid #1877f2;
    box-shadow: 0 0 10px #1877f2;
    transition: all 0.5s ease;
    border-color: none;
}

.redes-sociales nav a i:hover.fa-instagram{
    color: #D43089;
    border-radius: 5px solid #D43089;
    box-shadow: 0 0 10px #D43089;
    transition: all 0.5s ease;
    border-color: none;
}

.redes-sociales nav a i:hover.fa-x-twitter{
    color: white;
    border-radius: 5px solid white;
    box-shadow: 0 0 10px white;
    transition: all 0.5s ease;
    border-color: none;
}

.redes-sociales nav a i:hover.fa-whatsapp{
    color: #4dc247;
    border-radius: 5px solid #4dc247;
    box-shadow: 0 0 10px #4dc247;
    transition: all 0.5s ease;
    border-color: none;
}

footer p{
    color: red;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

footer .copyright{
    font-style: italic;
    color: red;
    font-weight: lighter;
    margin-top: 20px;
}

@media (min-width:720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav{
        flex-direction: row;
        align-items: center;
        padding-bottom: 0;
        padding-right: 20px;
    }

    header h2{
        font-size: 28px;
        padding: 5px 20px;
        font-weight: bold;
        margin-left: 0;
        padding-left: 1px;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 10px;
        margin-top: 5px;
        display: flex;
    }

    #titulo .container{
        display: flex;
        justify-content: center;
    }


    #estadisticas .container{
        display: flex;
        justify-content: center;
    }

    #estadisticas p{
        display: block;
        font-weight: bold;
    }


    #estadisticas .carta{
        padding: 50px;
    }


    #beneficios .container{
        flex-direction: row;
        justify-content: center;
    }

    #beneficios .container{
        text-align: center;

    }
    


}