*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
table{font-size: 1.25em;}
li{font-size: 1.25em;}

.color-ya{
    color: red;
}

button{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: red;
}

button:hover{
    background-color: darkred;
}

.container{
    max-width: 1400px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}


/*Encabezado - Menú de pag*/

header{
    background-color: rgb(59, 59, 59);
}

header .logo{
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    padding-right: 20px;
    text-shadow: 2px 2px 2px gray;
}

header .color-ya{
    text-shadow: 3px 5px 3px black;
    color: red;
    font-weight: lighter;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header input{
    display: flex;
    padding: 20px 15px;
    margin: auto;
    margin-right: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    height: 10px;
    width: 220px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 2px 2px black;
    position: relative;
}

header input:hover{
    background-color: beige;
    color: rgb(29, 29, 29);
    cursor: text;
}

header button{
    position: absolute;
    margin-left: 70px;
    width: 10px;
    height: 45px;
    border-radius: none;
    margin-left: 177px;
    height: 45px;
    background-color: beige;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: 650;
    color: black;
}


header a:hover{
    font-weight: solid;
}

/*Sección título*/

#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 85vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/fondo-plato.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#titulo h1{
    color: white;
    font-weight: lighter;
    font-size: 50px;
    text-shadow: 5px 3px 0 black;

}

#titulo p{
    color: white;
    font-weight: lighter;
    margin-bottom: 10px;
    padding: 20px 50px 20px;
    text-shadow: 2px 2px 2px black;
}

/*Sección publicaciones*/

#publicaciones{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    text-align: center;
    color: white;
}


#publicaciones .container{
    justify-content: center;
    padding: 50px 10px;
}

label{
    color: red;
    text-shadow: white;
}



textarea{
    border-radius: 5px;
    border: 2px solid gray;
    
}

textarea:hover{
    cursor: text;
    background-color: #fff1ffd8;
}

input{
    margin-top: 20px;
    color: red;
    padding: 15px;
}

input:hover{
    color: white;
    cursor: pointer;
}

#publicaciones button{
    background-color: red;
    color: black;
}

#publicaciones button:hover{
    background-color: gray;
    cursor: pointer;
    padding: 10px 5px;
}


#estadisticas{
    background-color: rgb(30, 30, 30);
    text-align: center;
    align-items: center;
    display: block;
}

#estadisticas .container{
    padding: 25px 15px;
    margin: 0;
}

#estadisticas h3{
    color: white;
    font-weight: bold;
}

#estadisticas p{
    color: gray;
    font-weight: bolder;
}

#estadisticas .carta{
    background-position: center center;
    background-size: cover;
    padding: 25px 10px;
    padding-bottom: 15px;
    margin: 20px;
    border-radius: 15px;
    border: solid black;
}

#estadisticas .container button{
    color: black;
    background-color: red;
}

#estadisticas .container button:hover{
    background-color: gray;
    cursor: pointer;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/copas-plantas.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/salon-comedores.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/comedores-bonuar.jpg");
}


#beneficios{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
     url("img/crecimiento.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#beneficios .container{
    text-align: center;
    padding: 20px 15px;
}

#beneficios li{
    margin: 16px 0px;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    box-shadow: #4dc247;
}

footer{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 150px 10px;
}

.redes-sociales a .fa-facebook{
    color: #1877f2;
}

.redes-sociales a .fa-instagram{
    color: #D43089;
}

.redes-sociales a .fa-x-twitter{
    color: rgba(81, 82, 81, 0.849);
}

.redes-sociales a .fa-whatsapp{
    color: #4dc247;
}


.redes-sociales nav a i{
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    float: none;
}

.redes-sociales nav a i:hover.fa-facebook{
    color: #1877f2;
    border-radius: 5px solid #1877f2;
    box-shadow: 0 0 10px #1877f2;
    transition: all 0.5s ease;
    border-color: none;
}

.redes-sociales nav a i:hover.fa-instagram{
    color: #D43089;
    border-radius: 5px solid #D43089;
    box-shadow: 0 0 10px #D43089;
    transition: all 0.5s ease;
    border-color: none;
}

.redes-sociales nav a i:hover.fa-x-twitter{
    color: white;
    border-radius: 5px solid white;
    box-shadow: 0 0 10px white;
    transition: all 0.5s ease;
    border-color: none;
}

.redes-sociales nav a i:hover.fa-whatsapp{
    color: #4dc247;
    border-radius: 5px solid #4dc247;
    box-shadow: 0 0 10px #4dc247;
    transition: all 0.5s ease;
    border-color: none;
}

footer p{
    color: red;
    font-weight: bold;
}

footer .copyright{
    font-style: italic;
    color: red;
    font-weight: lighter;
}

@media (min-width:720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav{
        flex-direction: row;
        align-items: center;
        padding-bottom: 0;
        padding-right: 20px;
    }

    header h2{
        font-size: 28px;
        padding: 5px 20px;
        font-weight: bold;
        margin-left: 0;
        padding-left: 1px;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 10px;
        margin-top: 5px;
        display: flex;
    }

    #titulo .container{
        display: flex;
        justify-content: center;
    }


    #estadisticas .container{
        display: flex;
        justify-content: center;
    }

    #estadisticas p{
        display: block;
        font-weight: bold;
    }


    #estadisticas .carta{
        padding: 50px;
    }


    #beneficios .container{
        flex-direction: row;
        justify-content: center;
    }

    #beneficios .container{
        text-align: center;

    }
    


}