
#welcome-page {
    background-image: url('../css/img/imgfondo.jpg');
    background-size: cover; 
    background-position: center;
    color: white;
    font-family: sans-serif; 
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #dd0404;
}

.logo {
    font-size: 24px; 
    font-weight: bold;
}

.actions {
    display: flex;
}

.action-button {
    background-color: transparent;
    border: none;
    color: red; 
    margin-left: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px; 
    justify-content: center;
    align-items: center;
}

.item {
    text-align: center;
    margin-bottom: 30px; 
}

.item img {
    width: 100%;
    height: auto; 
    max-width: 300px; 
    margin-bottom: 10px; 
}

.stars {
    margin-top: 5px;
}

.star {
    color: rgb(42, 10, 184);
    font-size: 20px;
}
 

button {
    margin-top: 10px;
}

.image-container {
    position: absolute;
    top: 50%; 
    left: 20px; 
    transform: translateY(-50%); 
    display: flex;
    align-items: flex-start; 
}

.image-container img {
    width: 200px; 
    height: auto;
}

.description p {
    margin-top: 5px;
    color: black; 
    text-align: center; 
}
.centrado {
    text-align: center; /* Centra el texto horizontalmente */
    position: absolute; /* Coloca el elemento de forma absoluta */
    top: 30px; /* Ajusta la posición vertical para que no se superponga con el encabezado */
    left: 50%; /* Coloca el elemento en la mitad de la pantalla horizontalmente */
    transform: translate(-50%, 0); /* Centra el elemento con respecto a su propio tamaño */
    color: black;
}

.centrado-dos {
    text-align: center; /* Centra el texto horizontalmente */
    position: absolute; /* Coloca el elemento de forma absoluta */
    top: 50px; /* Ajusta la posición vertical para que esté debajo del primer texto */
    left: 50%; /* Coloca el elemento en la mitad de la pantalla horizontalmente */
    transform: translate(-50%, 0); /* Centra el elemento con respecto a su propio tamaño */
    color: black;
}

.centrado-tres {
    text-align: center; /* Centra el texto horizontalmente */
    position: absolute; /* Coloca el elemento de forma absoluta */
    top: 70px; /* Ajusta la posición vertical para que esté debajo del segundo texto */
    left: 50%; /* Coloca el elemento en la mitad de la pantalla horizontalmente */
    transform: translate(-50%, 0); /* Centra el elemento con respecto a su propio tamaño */
    color: black;
}

    