body {
    background-color: white;
}

.actions {
    font-family: 'Courier New', Courier, monospace;
    color: #4dc247;
}

header button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
}


footer p{
    text-align: center;
    color: black
}

.social-buttons ul {
    list-style: none;
}

.social-buttons ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    float: left;
    transition: all 0.5s ease;

}

.social-buttons ul li .fa {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    transition: all 0.5s ease;
}

.social-buttons ul li:hover.facebook {
    border: 5px solid #1877f2;
    box-shadow: 0 0 15px #1877f2;
    transition: all 0.5s ease;
}

.social-buttons ul li:hover .fa-facebook {
    color: #1877f2;
    text-shadow: 0 0 15px #1877f2;
    transition: all 0.5s ease;
}

.social-buttons ul li:hover.x-twitter {
    border: 5px solid #000000;
    box-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
}

.social-buttons ul li:hover .fa-x-twitter {
    color: #000000;
    text-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
}

.social-buttons ul li:hover.instagram {
    border: 5px solid #D43089;
    box-shadow: 0 0 15px #D43089;
    transition: all 0.5s ease;
}

.social-buttons ul li:hover .fa-instagram {
    color: #D43089;
    text-shadow: 0 0 15px #D43089;
    transition: all 0.5s ease;
}

.social-buttons ul li:hover.linkedin {
    border: 5px solid #0073b1;
    box-shadow: 0 0 15px #0073b1;
    transition: all 0.5s ease;
}

.social-buttons ul li:hover .fa-linkedin {
    color: #0073b1;
    text-shadow: 0 0 15px #0073b1;
    transition: all 0.5s ease;
}

.social-buttons ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

.social-buttons ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}